EXPO_PUBLIC_API_URL=https://airia.pro
EXPO_PUBLIC_SUPABASE_URL=https://ksdvzqvwhrmvgozobjbt.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_your_key_here
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_your_key_here
EXPO_PUBLIC_WEB_APP_URL=https://airia.pro
